<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Dice-Roller</title>
    {%  endhead %}
</head>
<body>
    
    <div id="header">
        <h1>Awesome Dice-Roller</h1>
    </div>

    <div id="content"></div>
    <div id="footer"></div>
</body>
</html>